{% load static %}

<!-- inventory/templates/inventory/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Asset Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'inventory/css/style.css' %}">
</head>
<body>
    <header>
        <body>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1 style="margin: 0;">AssetoriX - Asset Management System</h1>
  <span style="margin: 0;">👤 {{ user.username }}</span>
</div>        
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p style="text-align:center;">&copy; 2025 vsdevelopersnet.store</p>
    </footer>
</body>
</html>
