{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="login-wrapper">
        <!-- Left Side -->
        <div class="login-left">
            <h1>Welcome to Assetorix</h1>
            <p>Master Your Assets, Command Your Future.</p>
        </div>

        <!-- Right Side (Form) -->
        <div class="login-right">
            <div class="login-box">
                <h2>Change Password</h2>
                {% if form.errors %}
                    <p class="login-error">Please correct the errors below.</p>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="login-button">Change Password</button>
                </form>
                <a href="{% url 'inventory:custom_password_change' %}">Forgot password?</a>
            </div>
        </div>
    </div>
</body>
</html>
