{% extends 'inventory/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h2>Search Assets</h2>

<form method="get">
    <label for="filter_by">Search by:</label>
    <select name="filter_by" id="filter_by">
        <option value="location" {% if filter_by == 'current_custodian' %}selected{% endif %}>Store wise</option>
        <option value="item" {% if filter_by == 'item' %}selected{% endif %}>Item</option>
        <option value="model" {% if filter_by == 'model' %}selected{% endif %}>Model</option>
        <option value="vendor" {% if filter_by == 'vendor' %}selected{% endif %}>Vendor</option>
        <option value="invoice" {% if filter_by == 'invoice' %}selected{% endif %}>Invoice</option>
        <option value="status" {% if filter_by == 'status' %}selected{% endif %}>Working Status</option>
    </select>

    <input name="q" value="{{ query }}" placeholder="Enter search value">
    <button type="submit">Search</button>
</form>


{% if assets %}
  <h3>Assets found based on: "{{ query }}"</h3>
  <table border="1" cellpadding="6" cellspacing="0">
    <tr>
      <th>Item</th>
      <th>Model</th>
      <th>Serial Number</th>
      <th>Warranty End Date</th>
      <th>Location</th>
    </tr>
    {% for asset in assets %}
    <tr>
      <td>{{ asset.item }}</td>
      <td>{{ asset.model }}</td>
      <td>{{ asset.serial_number }}</td>
      <td>{{ asset.warranty_end_date }}</td>
      <td>{{ asset.current_location }}</td>
    </tr>
    {% endfor %}
  </table>
{% elif query %}
  <p>No assets found for "{{ query }}"</p>
{% endif %}

{% endblock %}
